<div class="line-fat">
	<div class="head-actions">
		<div class="head-actions">
		<a class="head-back-action" href="#">
			<i class="icon-admin-back"></i>
		</a>
		<p>Trademarks</p>
	</div>
	</div>
</div>
<%= show_image_gallery @trademark %>