<div class="line-fat">
	<div class="head-actions">
		<a class="head-back-action" href="#" href="#" data-url="/admins/lands" data-element="#stage" data-method="GET">
			<i class="icon-admin-back"></i>
		</a>
		<a class="head-add-action ajax-link" href="#" data-url="/admins/lands/new" data-element="#stage" data-method="GET">
			<i class="icon-admin-add-element"></i>
		</a>
	</div>
</div>

<div class="main-data">
	<div class="data-table">
		<%= render :partial => "/lands/data_table", locals: {lands: @lands}%>
	</div>
	<div class="cus-pagination">
		<%= paginate @lands, remote: true %>
	</div>
</div>
